@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;

.grid {
  display: grid;
  gap: $spacing-lg;

  &--2 {
    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3 {
    @include respond-to('md') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--4 {
    @include respond-to('sm') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
